.animation {
    transition: all 0.5s ease-in-out;
    transition-delay:1s;
    transform: rotateY(360deg);
}

.animation:hover {
    transform: rotateY(0deg);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.animation {
    animation: pulse 2s infinite;
}
